.ev_and_doc_and_slideshow {
    width: 100%;
    height: 30vw;
    display: flex;
}

@media (orientation: landscape) and (max-width: 1200px) {
    .ev_and_doc_and_slideshow {
        height: 100vw;
        display: block;
    }
}

@media (orientation: landscape) and (max-width: 600px) {
    .ev_and_doc_and_slideshow {
        height: 55vw;
        display: block;
    }
}

@media (orientation: portrait) and (max-width: 1200px) {
    .ev_and_doc_and_slideshow {
        height: 130vw;
        display: block;
    }
}

@media (orientation: portrait) and (max-width: 600px) {
    .ev_and_doc_and_slideshow {
        height: 70vw;
        display: block;
    }
}

.slideshow {
    width: 60%;
    height: 30vw;
    border-top: 0.1vw solid black;
    border-right: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    position: relative;
    z-index: 0;
    /* SlideShow a háttérben marad */
}

@media (orientation: landscape) and (max-width: 1200px) {
    .slideshow {
        height: 50vw;
        width: 100%;
        border-right: none;
        border-bottom: none;
    }
}

@media (orientation: landscape) and (max-width: 600px) {
    .slideshow {
        height: 55vw;
        width: 100%;
        border-right: none;
        border-bottom: none;
    }
}


@media (orientation: portrait) and (max-width: 1200px) {
    .slideshow {
        height: 65vw;
        width: 100%;
        border-right: none;
        border-bottom: none;
    }
}

@media (orientation: portrait) and (max-width: 600px) {
    .slideshow {
        height: 70vw;
        width: 100%;
        border-right: none;
        border-bottom: none;
    }
}

.slideshow_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.slideshow_container img {
    width: auto;
    height: 100%;
}

@media (orientation: portrait) and (max-width: 1200px) {
    .slideshow_container img {
        width: 100%;
    }
}

@media (orientation: portrait) and (max-width: 600px) {
    .slideshow_container img {
        width: 100%;
    }
}

@media (orientation: portrait) and (max-width: 300px) {
    .slideshow_container img {
        width: 100%;
    }
}

.events_and_documents {
    width: 40%;
    height: 100%;
    display: flex;
}

.documents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border-top: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
}

.events {
    display: block;
    width: 50%;
    height: 100%;
    border-top: 0.1vw solid black;
    border-left: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
}

.event1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.event2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    border-top: 0.1vw solid black;
}

@media (orientation: landscape) and (max-width: 1200px) {
    .events_and_documents {
        height: 50vw;
        width: 100%;
    }
}

@media (orientation: landscape) and (max-width: 600px) {
    .events_and_documents {
        display: none;
    }
}

@media (orientation: portrait) and (max-width: 1200px) {
    .events_and_documents {
        height: 65vw;
        width: 100%;
    }
}

@media (orientation: portrait) and (max-width: 600px) {
    .events_and_documents {
        display: none;
    }
}

.documents_600 {
    display: none;
    width: 100%;
    height: 35vw;
    border-top: 0.1vw solid black;
}

.event1_600 {
    display: none;
    width: 100%;
    height: 35vw;
    border-top: 0.1vw solid black;
}

.event2_600 {
    display: none;
    width: 100%;
    height: 35vw;
    border-top: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
}

@media screen and (max-width: 600px) {
    .documents_600 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event1_600 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event2_600 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}