/* header.css */
:root {
    --base-height: 7vw;  /* Bázis magasság */
    --base-img-width: 5vw; /* Bázis kép szélesség */
}

/* Alapértelmezett stílusok */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vw; /* A bázis magasság használata */
}

.header img {
    width: 5vw;  /* A bázis kép szélesség használata */
    height: auto;
}
