.telefonszamok_polgarmesteri_hivatal,
.telefonszamok_hatosagi_igazgatasi {
    border: 0.1vw solid black;
    margin: 1vw;
    background-color: #e5f3fd;
}
.telefonszamok_element {
    display: flex;
    justify-content: space-between;
}
