.kismufuves_img {
    display: flex;
    justify-content: center;
}

.kismufuves_img img {
    width: 100%;
    height: auto;
}

.margin-top-kismufuves {
    margin-top: 5vw !important;
}

.ul_kismufuves {
    margin-left: 3vw;
    list-style-type: decimal;
}
