.left_side{
    width: 33.3%;
    background-color: lightblue;
    border-right: 0.1vw solid black;
}

@media screen and (max-width: 600px) {
    .left_side {
      width: 100%;
    }
  }

.left_side_pic_container{
    width: 100%;
    min-height: 0;
    height: auto;
    background-color: white;
}

.left_side_pic_container:not(:last-child) {
    border-bottom: 0.1vw solid black;
}

.left_side_pic_container img{
    width: 100%;
    height: auto;
}

.padding_pic{
    padding: 2vw;
}