.info_main_container {
    position: relative;
    background-color: white;
    padding: 1vw;
    border-top: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
}

.info_main_container .bg-img {
    position: absolute;
    inset: 0;
    display: block;
    margin: auto auto;
    width: 90%;
    height: auto;
    opacity: 0.2; /* Itt állíthatod az átlátszóságot */
    z-index: 0;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .info_main_container .bg-img {
        position: absolute;
        display: block;
        margin: auto auto;
        width: 20%; /* vagy amekkora kell */
        height: auto;
        opacity: 0.2;
    }
}

@media screen and (max-width: 600px) {
    .info_main_container .bg-img {
        width: 40%;
    }
}

.info_title_container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.info_container p {
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    .info_container p {
        font-size: 1vw;
    }
}

@media screen and (min-width: 1200px) {
    .info_title {
        font-size: 1.5vw;
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
    }
}

@media screen and (max-width: 800px) {
    .info_title {
        font-size: 3vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .info_title {
        font-size: 6vw;
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
    }
}

.info_container_element {
    display: flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-bottom: 0.1vw solid lightgray;
}

@media screen and (max-width: 600px) {
    .info_container_element {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
}

.info_half {
    width: 50%;
}
