.navbar {
    height: auto;
    width: 100%;
    border-top: 0.1vw solid black;
    display: flex;
    /* Flexbox használata */
    justify-content: space-around;
    /* Elemek közötti térköz */
    align-items: center;
    /* Vertikálisan középre igazítja az elemeket */
    background-color: white;
    /* Háttérszín (választható) */
}

@media screen and (max-width: 1200px) {
    .navbar {
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .navbar-container {
        display: none;
    }
}

.no-underline {
    text-decoration: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 0.1vw solid black;
    min-height: 15vw;
    height: auto;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* A dropdown megnyitásakor */
.dropdown-content.show {
    display: block;
}

.megamenu-link-block {
    display: flex;
    justify-content: center;
}

.megamenu-link-sub-block{
    padding: 2vw;
    border: 0.1vw solid black;
}

.megamenu-link-sub-block a{
    display: block;
    padding: 0.3vw;
    font-size: 1.5vw;
}

.megamenu-link-sub-block a:hover{
    color: white;
    background-color: navy;
}

.dropbtn {
    font-size: 1.7vw;
    padding: 1vw 0 1vw 0;
    cursor: pointer;
}

.mobile-navbar-container {
    display: none;
}

@media screen and (max-width: 800px) {
    .mobile-navbar-container {
        display: block;
    }
}

.mobile-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: 1px solid black;
    cursor: pointer;
}

@media screen and (max-width: 350px) {
    .mobile-navbar {
        font-size: 24px;
    }
}

@media screen and (max-width: 125px) {
    .mobile-navbar {
        font-size: 16px;
    }
}

/* Mobil menü animáció */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        /* Kezdő pozíció, balról kilép */
    }

    to {
        transform: translateX(0);
        /* Befejező pozíció, középre */
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        /* Kezdő pozíció, középen */
    }

    to {
        transform: translateX(-100%);
        /* Befejező pozíció, balra */
    }
}

/* Mobil menü 100%-os szélesség és magasság */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 1000;
    /* Biztosítja, hogy a menü a tartalom felett legyen */
    animation: slideIn 0.5s ease-out;
    /* Animáció hozzáadása a megjelenéshez */
    border: 2px solid black;
    padding: 15px;
    overflow-y: hidden;
}

/* Mobil menü animáció eltűnéskor */
.mobile-menu-closing {
    animation: slideOut 0.5s ease-in;
    /* Animáció a bezáráskor */
}

/* Bezáró X gomb a mobil menüben */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: black;
    cursor: pointer;
    z-index: 1100;
    /* Biztosítja, hogy a gomb a tartalom felett legyen */
}

.close-btn:hover {
    color: red;
    /* Hover effekt */
}

.close-btn svg {
    width: 30px; /* Állítsd be a kívánt szélességet */
    height: 30px; /* Állítsd be a kívánt magasságot */
    fill: black; /* Alapértelmezett szín (fekete) */
  }
  

.mobile-menu-items {
    display: flex;
    flex-direction: column;
    /* Ez biztosítja, hogy az elemek egymás alatt jelenjenek meg */
    gap: 1vw;
    /* Térköz az elemek között */
    font-size: 10vw;
    cursor: pointer;
    max-height: 90vh;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
}

.mobile-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    border-bottom: 1px solid black;
}

.right-angle {
    width: 30px;
    height: 30px;
}

/* Mobil submenü animáció */
@keyframes slideInSubmenu {
    from {
        transform: translateX(100%);
        /* Kezdő pozíció, jobbról kilép:
           Az elem a képernyő jobb oldalán kívül helyezkedik el (+100%).
           A translateX(100%) azt jelenti, hogy az elem vízszintesen 100%-kal el van tolva a képernyő jobb széle felé. */
    }

    to {
        transform: translateX(0);
        /* Befejező pozíció, középre:
           Az elem a végső pozícióban a képernyő közepén lesz (0 érték, ami a normál helyzetet jelenti). */
    }
}

@keyframes slideOutSubmenu {
    from {
        transform: translateX(0);
        /* Kezdő pozíció, középen */
    }

    to {
        transform: translateX(100%);
        /* Befejező pozíció, jobbra */
    }
}

/* Mobil submenü 100%-os szélesség és magasság */
.sub-menu1, .sub-menu2, .sub-menu3, .sub-menu4, .sub-menu5, .sub-menu6, .sub-menu7, .sub-menu8, .sub-menu9 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 2000;
    /* Biztosítja, hogy a menü a tartalom felett legyen */
    animation: slideInSubmenu 0.5s ease-out;
    /* Animáció hozzáadása a megjelenéshez */
    border: 2px solid black;
}

/* Mobil submenü animáció eltűnéskor */
.mobile-submenu-closing {
    animation: slideOutSubmenu 0.5s ease-in;
    /* Animáció a bezáráskor */
}

.mobile-submenu-items {
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* Ez biztosítja, hogy az elemek egymás alatt jelenjenek meg */
    gap: 1vw;
    /* Térköz az elemek között */
    font-size: 5vw;
    cursor: pointer;
}

/* Bezáró X gomb a mobil menüben */
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2em;
    color: black;
    cursor: pointer;
    z-index: 1100;
    /* Biztosítja, hogy a gomb a tartalom felett legyen */
}

.left-arrow {
    width: 30px;  /* A nyíl mérete */
    height: 30px;
    fill: black;  /* Szín, lehet más szín is */
  }