.middle{
    width: 50%;
    display: flex;
    justify-content: center;
}
.container {
    border-left: 0.1vw solid black;
    border-right: 0.1vw solid black;
    border-bottom: 0.1vw solid black;
    height: 2000px;
}