.middle {
  width: 70%;
  height: 2000px;
  border-left: 0.1vw solid black;
  border-right: 0.1vw solid black;
}

@media screen and (max-width: 1200px) {
  .middle {
    border-right: none;
  }
}

@media screen and (max-width: 600px) {
  .middle{
    width: 100%;
    border-left: none;
  }
}