.margin_top_cigand_jarasi_hivatal {
    margin-top: 5vw !important;
}

.ul_cigand_jarasi_hivatal {
    list-style-type: disc;
    margin-left: 3vw;
}

.cigand_jarasi_hivatal_border {
    border: 0.1vw solid black;
    margin: 2vw;
}
