.kepviselok_img {
    display: flex;
    justify-content: center;
}

.display-inline-kepviselok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.kepviselo {
    width: 400px;
    text-align: center;
}

.kepviselok_container p {
    text-align: center;
}

.kepviselok_container img {
    width: 30%;
    height: auto;
}