.kepviselok_img {
    display: flex;
    justify-content: center;
}

.display-inline-kepviselok {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.kepviselo {
    width: 300px;
    text-align: center;
}

@media screen and (max-width: 952px) {
    .margin-top-kepviselok {
        margin-top: 5vw !important;
    }
}

.kepviselok_container p {
    text-align: center;
}

.kepviselok_container img {
    width: 30%;
    height: auto;
}