.download_file {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.download_file a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.download_file_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    height: auto;
    max-height: 300px;
    width: 100%;
    border: 2px solid black;
    background-color: orangered;
    font-weight: bolder;
    padding: 1vw;
    cursor: pointer;
}

.download_file:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 1400px) {
    .download_file_container {
        height: 5vw;
    }
}

.download_file_container:hover {
    background-color: lightgray;
}

.download_file_children {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.download_file_img {
    height: 4vw;
}

@media screen and (max-width: 1000px) {
    .download_file_img {
        height: 8vw;
    }
}

@media screen and (max-width: 600px) {
    .download_file_img {
        height: 10vw;
    }
}

.download_file_img img {
    height: 100%;
    width: auto;
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: white;
}
