.header_of_content{
    background-color: black;
    padding: 1vw;
}
.heading_head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.heading_line_container{
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading_line{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 0.1vw;
    background-color: gray;
}
.heading_line2{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 4vw;
    height: 0.2vw;
    background-color: white;
}
.breadcrumb{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.5vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}
.breadcrumb_text1{
    color: grey;
}
.breadcrumb_text2{
    color: grey;
}
.breadcrumb_text3{
    color: white;
    font-weight: bold;
}
.breadcrumb_slash{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}