.header_of_content{
    background-color: black;
    padding: 1vw;
    width: 100%;
}
.heading_head{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

@media screen and (max-width: 1500px) {
    .heading_head{
        font-size: 2vw;
    }
}

@media screen and (max-width: 900px) {
    .heading_head{
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {
    .heading_head{
        font-size: 5vw;
    }
}

.heading_line_container{
    margin-top: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading_line{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 0.1vw;
    background-color: gray;
}
.heading_line2{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10%;
    height: 0.2vw;
    background-color: white;
}
.breadcrumb{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.5vw;
    font-size: 1vw;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 1500px) {
    .breadcrumb{
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 900px) {
    .breadcrumb{
        font-size: 2vw;
    }
}

@media screen and (max-width: 700px) {
    .breadcrumb{
        font-size: 2.5vw;
    }
}

.breadcrumb_text1{
    color: grey;
}
.breadcrumb_text2{
    color: grey;
}
.breadcrumb_text3{
    color: white;
    font-weight: bold;
}
.breadcrumb_slash{
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.header_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_triangle_container{
    display: flex;
    justify-content: center;
}

.header_triangle {
    width: 0;
    height: 0;
    border-left: 1vw solid transparent; /* Háromszög bal oldala */
    border-right: 1vw solid transparent; /* Háromszög jobb oldala */
    border-top: 1vw solid black; /* Háromszög színe (a szülő háttérszínével egyezzen) */
}