.telepules_uzemeltetes_title {
    display: flex;
    justify-content: space-between;
    border-top: 0.5vw double black;
    border-bottom: 0.1vw solid black;
    padding: 1vw;
}
@media screen and (max-width: 1400px) {
    .telepules_uzemeltetes_title {
        border-top: 1vw double black;
    }
}
.background {
    background-color: lightblue;
}
