.civil_szervezetek_img {
    display: flex;
    justify-content: center;
}

.civil_szervezetek_img img {
    width: 100%;
    height: auto;
}

.civil_szervezetek_img_majorette {
    width: 40% !important;
    height: auto;
}

.margin_top_civil_szervezetek {
    margin-top: 10vw !important;
}

.margin_top_civil_szervezetek2 {
    margin-top: 5vw !important;
}

.ul_civil_szervezetek {
    list-style-type: disc;
    margin-left: 3vw;
}
