.kozszolgalati_intezmenyek_img {
    display: flex;
    justify-content: center;
}

.kozszolgalati_intezmenyek_img_img {
    width: 100%;
    height: auto;
}
.kozszolgalati_intezmenyek_container p {
    text-align: center;
}

.margin_top_kozszolgalati_intezmenyek {
    margin-top: 5vw !important;
}

.heading_kozszolgalati_intezmenyek {
    font-size: 2vw;
}

@media screen and (max-width: 1600px) {
    .heading_kozszolgalati_intezmenyek {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 1200px) {
    .heading_kozszolgalati_intezmenyek {
        font-size: 3vw;
    }
}

@media screen and (max-width: 1000px) {
    .heading_kozszolgalati_intezmenyek {
        font-size: 4vw;
    }
}

@media screen and (max-width: 800px) {
    .heading_kozszolgalati_intezmenyek {
        font-size: 5vw;
    }
}

@media screen and (max-width: 600px) {
    .heading_kozszolgalati_intezmenyek {
        font-size: 7vw;
    }
}

.kozszolgalati_intezmenyek_img_rendorors,
.kozszolgalati_intezmenyek_img_tuzoltosag,
.kozszolgalati_intezmenyek_img_mentoszolgalat,
.kozszolgalati_intezmenyek_img_koztemeto,
.kozszolgalati_intezmenyek_img_benzinkut,
.kozszolgalati_intezmenyek_img_otp_bankomat,
.kozszolgalati_intezmenyek_img_posta,
.kozszolgalati_intezmenyek_img_takarekbank,
.kozszolgalati_intezmenyek_img_gyogyszertar,
.kozszolgalati_intezmenyek_img_allatorvos,
.kozszolgalati_intezmenyek_img_mwm,
.kozszolgalati_intezmenyek_img_vizmu,
.kozszolgalati_intezmenyek_img_tigaz,
.kozszolgalati_intezmenyek_img_telekom,
.kozszolgalati_intezmenyek_img_antsz,
.kozszolgalati_intezmenyek_img_emvizig,
.kozszolgalati_intezmenyek_img_foldhivatal,
.kozszolgalati_intezmenyek_img_eak,
.kozszolgalati_intezmenyek_img_szatev {
    width: 30%;
    height: auto;
}

.tigaz_border {
    border: 1px solid black;
    margin: 2vw;
}
