.telepules_uzemeltetes_news {
    margin-bottom: 5vw;
}
.telepules_uzemeltetes_img {
    display: flex;
    justify-content: center;
}

.telepules_uzemeltetes_img img {
    width: 100%;
    height: auto;
}
.border_tu_nagyitas {
    border-bottom: 0.1vw solid black;
    text-decoration: none;
}

.telepules_uzemeltetes_ul {
    margin-left: 5vw;
}
